.dialog-text {
  line-height: 1.5;
  color: #333;
  font-weight: 600;
  padding: 18px;
}

.btn-confirm-yes {
  background-color: rgb(85, 105, 221) !important;
  color: white !important;
}

.btn-confirm-yes:hover {
  background-color: rgb(68, 84, 177) !important;
}

.btn-confirm-no {
  background-color: rgb(172 176 201) !important;
  color: white;
}

.btn-confirm-no:hover {
  background-color: rgb(140 145 173) !important;
}

mat-dialog-actions button {
  display: flex;
  align-items: center;
  margin-left: 8px;
}