

.btn-confirm-yes {
  background-color: rgb(85, 105, 221) !important;
  color: white !important;
}

.btn-confirm-yes:hover {
  background-color: rgb(68, 84, 177) !important;
}



.dialog-list {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 20px;
  padding-left: 35px;
  line-height: 1.5;
  color: #333;
}

.dialog-list li {
  margin-bottom: 5px; 
}