h2[mat-dialog-title] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.close-btn {
  margin-right: -8px;
}

.full-width {
  width: 100%;
}

mat-dialog-content {
  min-width: 420px;
  padding-top: 0.5rem;
}

mat-dialog-actions {
  padding-bottom: 0.5rem;
}
