
<div class="head">
  <span class="title"> Budget Assumptions </span>
  <button mat-icon-button (click)="onClose()" class="close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="indicators-container">
  <div class="content">
    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <mat-form-field
        class="form-dialog-content__field full-width"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <textarea
          matInput
          formControlName="budget_assumptions"
          class="texta"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="10"
          placeholder="Enter budget assumptions..."
        ></textarea>
        <mat-error
          *ngIf="
            Form.get('budget_assumptions')?.hasError('required') &&
            Form.get('budget_assumptions')?.touched
          "
        >
          Budget assumption is required
        </mat-error>
      </mat-form-field>
    </form>

    <div class="footer">
      <button [hidden]="disabled"  class="save-btn" (click)="onSubmit()">Save</button>
    
    </div>
  </div>
</div>
