<section class="additional-section">
  <h2>{{ selectedExtraNavigation }}</h2>

  <ng-container [ngSwitch]="selectedExtraNavigation">
    <app-pool-section
      *ngSwitchCase="'Pool funding HLO'"
      [rows]="poolFundingRows"
      [canEdit]="canEdit"
      (budgetUpdated)="budgetUpdated.emit()"
    ></app-pool-section>

    <app-partners-section
      *ngSwitchCase="'Partners'"
      [rows]="partnersRows"
      [selectedCenterId]="selectedCenterId"
      [canEdit]="canEdit"
      (budgetUpdated)="budgetUpdated.emit()"
    ></app-partners-section>

    <app-w3-section
      *ngSwitchCase="'W3/Bilatral'"
      [rows]="w3Rows"
      [canEdit]="canEdit"
      (budgetUpdated)="budgetUpdated.emit()"
    ></app-w3-section>

    <app-melia-section
      *ngSwitchCase="'MELIA Study'"
      [rows]="meliaRows"
      [canEdit]="canEdit"
      (budgetUpdated)="budgetUpdated.emit()"
    ></app-melia-section>

    <app-anaplan-section
      *ngSwitchCase="'Anaplan'"
      [rows]="anaplanRows"
      [canEdit]="canEdit"
      (budgetUpdated)="budgetUpdated.emit()"
    ></app-anaplan-section>

    <app-cross-section
      *ngSwitchCase="'Cross Cutting'"
      [rows]="crossRows"
      [selectedProgramId]="selectedProgramId"
      [selectedPorbAowId]="selectedPorbAowId"
      [selectedCenterId]="selectedCenterId"
      [canEdit]="canEdit"
      (budgetUpdated)="budgetUpdated.emit()"
    ></app-cross-section>
  </ng-container>
</section>
